*{
    font-family:'lato', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px ;
}
body{
    margin: 100px;
}
header{
    text-align: center;
}
h2{
    font-size: 18px;
}
/****BARRE DE RECHERCHE PRINCIPALE****/
#searchInput {
    flex: 1;
    background-color:#E7E7E7;
    padding:1rem;
    border-right-style: none;
    width: 100%;
  }
  button {
    background-color:#E7E7E7;
    padding: 0.5em 1em;
    border-left-style: none;
    border-radius: 0 3px 3px 0;
    font-size: 1.2em;
    cursor: pointer;
  }

form {
    display: flex;
    padding: 20px 0 20px 0;
}
/*****LES TAGS*****/

#tags {
    display: flex;
}

#tags .selected {
    background-color:#3282F7;
    color: white;
    padding: 10px;
    border-radius: 5px;
    
  }
  
  #tags i {
    font-size: 15px;
    padding-left: 8px;
  }

/******BARRES DE RECHERCHES SECONDAIRES***********/

.rechercheSecondaire{
    display: flex;
    align-items: center;
    padding: 20px 0 20px 0;
    border: solid red;
}
/* .blocSearch {
    display: flex;
    width: 100%;
    outline: none;

} */
.blocSearchIngredients, .blocSearchAppareils, .blocSearchUstensiles {
    padding: 10px;
    display: block;
    width: 170px;
    border: solid green;
    /* border: none; */
    outline: none;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f1f1f1;
    cursor: pointer;
    border-radius:  5px;
}
/* .blocSearch img {
    width: 10px;
} */

#appareils li:last-child, #ingredients li:last-child, #ustensiles li:last-child {
    padding-bottom: 25px;
}

#ingredients, #appareils, #ustensiles {
    width: auto;
    height: 170px;
    margin: 10px;
    border-radius : 5px;
    /* overflow: scroll; */
    color: #fff;
    transition: height 0.4s ease-in-out;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);/*menu caché dessous*/
}

#ingredients {
    background-color: #3282F7;
}

  #ustensiles {
    background-color: #ED6454;
}  

#appareils {
    background: #68D9A4;
}
/* #searchInputTagIngredient{
    display: none;
}  */
li{
    list-style: none;

}
#searchInputTagIngredient, #searchInputTagAppareil, #searchInputTagUstensile {
    flex: 1;
    padding:1rem;
    border-right-style: none;
    width: 100%;
}

#ingredients #chevron {
    border: none;
    background-color: #3282F7;
}

#appareils #chevron {
    border: none;
    background-color: #68D9A4;
}

#ustensiles #chevron {
    border: none;
    background-color: #ED6454;
}

#chevron.rotated {
    transform: rotate(180deg);
  }


  
/* #ingredients.expanded {
    width: 700px;
}

  #ingredients ul{
    display: none;
  } */

  /* #ingredients.expanded ul{
    column-count: 3;
  } */

  #ingredients li{
    margin: 0;
    cursor: pointer;
  }
/* #appareils {
    background-color: #68D9A4;
    width: 170px;
    height: 170px;
    margin: 10px;
    border-radius : 5px;
  } */
  #ustensiles {
   background-color: #ED6454;
    /* width: 170px; */
    width: auto;
    height: 170px;
    margin: 10px;
    border-radius : 5px;
    /* overflow: scroll; */
    color: #fff;
    transition: height 0.4s ease-in-out;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);/*menu caché dessous*/
  }
  

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 364px);
    grid-gap: 70px;
}
.recette_container {
    background-color: #E7E7E7;
    border-radius: 5px;
    overflow: hidden;
    height: 364px;
}

.recette_container:hover{
    overflow: auto;
}

.photo-recette{
    display: flex;
    height: 50%;
}

.photo-recette img{
    width: 100%;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
}

.titre_recette{
    display: flex;
    justify-content: space-between;   
    align-items: center;
    padding:0 20px 0 20px;
}
.temps{
    display: flex;
    font-size: 18px;
    width: 80px;
    justify-content: space-around;
    align-items: center;
}

.description_recette{
    display: grid;
    padding:0 20px 0 20px;
    grid-template-columns: 1fr 1fr;
}

.ingredients_recette{
    padding-top: 15px;
    list-style: none;
}


  @media (max-width: 780px) {

    .logo {
        width: 100%;
    }
    .grid-container {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, auto);
    }

    .recette_container{
        height: 580px;
    }
.description_recette{
    grid-template-columns: repeat(1, 1fr);

}

}